# version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: mb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  liquibase:
    image: liquibase/liquibase:latest
    container_name: liquibase
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./liquibase/changelog:/liquibase/changelog:ro
      - ./liquibase/drivers/postgresql-42.7.3.jar:/liquibase/drivers/postgresql.jar:ro
    working_dir: /liquibase/changelog # ← КЛЮЧЕВО!
    command:
      - --classpath=/liquibase/drivers/postgresql.jar
      - --changeLogFile=changelog-master.yaml # ← относительный путь
      - --url=jdbc:postgresql://postgres:5432/mb
      - --username=postgres
      - --password=postgres
      - update # ← команда в конце
        # [
        #   "sh",
        #   "-c",
        #   "echo '=== Files in /liquibase/changelog/ ==='; ls -la /liquibase/changelog/; echo '=== Content of changelog-master.yaml ==='; cat /liquibase/changelog/changelog-master.yaml; echo '=== Content of 001...yaml ==='; cat /liquibase/changelog/001-create-scheduled-tasks.yaml 2>/dev/null || echo 'NOT FOUND'",
        # ]

  kafka:
    image: confluentinc/cp-kafka:7.7.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://kafka:29092,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    depends_on:
      - kafka

  app:
    build: .
    container_name: service-info-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - kafka
      - liquibase

  kafka-init:
    image: confluentinc/cp-kafka:7.7.0
    depends_on:
      - kafka
    entrypoint:
      - sh
      - -c
      - |
        # Ждём пока Kafka поднимется
        sleep 10
        kafka-topics --bootstrap-server kafka:29092 --create --topic weather-updates --partitions 1 --replication-factor 1
        kafka-topics --bootstrap-server kafka:29092 --create --topic user-events --partitions 1 --replication-factor 1
        kafka-topics --bootstrap-server kafka:29092 --create --topic exchange-updates --partitions 1 --replication-factor 1
        kafka-topics --bootstrap-server kafka:29092 --create --topic popular-requests --partitions 1 --replication-factor 1

volumes:
  redis-data:
  postgres-data:
